// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.waves-effect {
  margin: 4px;
}

th {
  a {
    color: #424242;
  }
}

.liked {
  color: #f06292;
  padding-left: 30px;
}
